<%- include("header"); -%>
      <div class="box" id="heading">
        <h1 class="day"> <%= listtitle %> </h1>
      </div>
      <div class="box">
        <ul>
            <% newitem.forEach(function(element){ %>
              <form action="/delete" method="post">
               <div class="item">
                 <input type="checkbox" name="checkbox" value="<%= element._id %>" onChange="this.form.submit()">
                 <p><%= element.name %></p>
                </div> 
                <input type="hidden" name="listName" value="<%= listtitle %>">
              </form>
            <%  }); %>
        </ul>
        
        <form class="item" action="/" method="post">
          <input type="text" name="listitem" class="input"  placeholder="New Item" autocomplete="off">
          <br>
          <button class="button" type="submit" name="list" value= "<%= listtitle %>" >+</button>
      </form>
      </div>

        
   
</body>
</html>
